  <% include partials/header %>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h2>Texas MixedBev Analytics</h2>
        </div>
      </div>

      <div class="container">

        <div class="row">

          <p><%= data.permitnumber %></p>

        </div>

        <hr>

      </div>

    </main>

    <% include partials/footer %>
