  <% include partials/header %>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h2><%= title %></h2>
        </div>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-md-12">
            <p><%= records %></p>
          </div>

        </div>

        <hr>

      </div>

    </main>

    <% include partials/footer %>
