<% include partials/header %>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h2>Texas MixedBev Analytics</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Results</p>

          <ul>
          <% for(var i=0; i<uniquepermitnumbers.length; i++) {%>
             <li><a href='/tabcpermitnumber/<%= uniquepermitnumbers[i] %>'><%= uniquepermitnumbers[i] %></a></li>
          <% } %>
          </ul>

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
      </div>

      <hr />
    </div>

  </main>

  <% include partials/footer %>
