<% include partials/header %>

  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h2>Texas MixedBev Analytics</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Results</p>

          <p>You searched for: <%= keyword %></p>

          <ul>
          <% for(var i=0; i < records.length; i++) {%>
             <li><a href='/report/<%= records[i]["_id"].tabcPermitNumber %>'><%= records[i]["_id"].locationName %></a></li>
          <% } %>
          </ul>

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
      </div>

      <hr />
    </div>

  </main>

  <% include partials/footer %>
