  <% include partials/header %>

    <main role="main">

      <div class="jumbotron">
        <div class="container">
          <h2>Texas MixedBev Analytics</h2>
          <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
        </div>
      </div>

      <div class="container">

        <div class="row">

          <div class="col-md-12">
            <p><%= records %></p>
          </div>

        </div>

        <hr>

      </div>

    </main>

    <% include partials/footer %>
